@import 'variables.scss';

.section-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 122px 14px 14px 14px;

  .heading-1 {
    font-family: "MessinaSansWeb", sans-serif;
    font-size: 49px;
    line-height: 47px;
    letter-spacing: -3px;
    color: $tx-brown;
  }

  .offerings {
    margin-top: 120px;

    .offerings_title {
      font-family: "MessinaSansWeb", sans-serif;
      font-size: 10px;
      line-height: 18px;
      color: $tx-brown;
      text-transform: uppercase;
    }

    .offerings_body {
      font-family: "MessinaSansWeb", sans-serif;
      font-size: 17px;
      line-height: 19px;
      color: $tx-brown;
    }
  }
}

.newsletter-section {
  padding: 72px 14px 0 14px;

  .newsletter_title {
    font-family: "MessinaSansWeb", sans-serif;
    font-size: 10px;
    line-height: 18px;
    color: $tx-brown;
    text-transform: uppercase;
  }
  .newsletter_subtitle {
    font-family: "MessinaSansWeb", sans-serif;
    font-size: 49px;
    line-height: 47px;
    letter-spacing: -3px;
    color: $tx-brown;
  }

  .newsletter_form {

    .newsletter_name, .newsletter_company, .newsletter_email {
      font-family: "MessinaSansWeb", sans-serif;
      font-size: 49px;
      line-height: 40px;
      letter-spacing: -3px;
      color: $tx-brown;
      border: none;
      background-color: transparent;
      height: 55px;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .newsletter_name::placeholder, .newsletter_company::placeholder, .newsletter_email::placeholder {
      font-family: "MessinaSansWeb", sans-serif;
      font-size: 49px;
      line-height: 47px;
      letter-spacing: -3px;
      color: $tx-brown;
      opacity: .3;
    }

    .newsletter_btn {
      font-family: "MessinaSansWeb", sans-serif;
      font-size: 17px;
      line-height: 19px;
      color: $tx-brown;
      border: none;
      background-color: transparent;
      padding: 0;
      margin-top: 30px;
    }
  }
}

@media only screen and (min-width: 960px) {
  .section-container {
    padding: 286px 40px 14px 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    box-sizing: border-box;

    .heading-1 {
      font-size: 144px;
      line-height: 138px;
      grid-column: span 7;
      letter-spacing: -9px;
    }

    .offerings {
      max-width: 862px;
      grid-column: 4 / 8;
      align-self: end;

      .offerings_title {
        font-size: 20px;
        line-height: 18px;
      }

      .offerings_body {
        font-size: 45px;
        line-height: 45px;
        margin-top: 24px;
      }
    }
  }
  .newsletter-section {
    padding: 250px 40px 0 40px;

    .newsletter_title {
      font-size: 20px;
      line-height: 18px;
    }

    .newsletter_subtitle {
      font-size: 144px;
      line-height: 138px;
      letter-spacing: -9px;
    }

    .newsletter_form {
      .newsletter_name, .newsletter_company, .newsletter_email {
        font-size: 144px;
        line-height: 138px;
        letter-spacing: -9px;
        height: 144px;
      }
  
      .newsletter_name::placeholder, .newsletter_company::placeholder, .newsletter_email::placeholder {
        font-size: 144px;
        line-height: 138px;
        letter-spacing: -9px;
      }
  
      .newsletter_btn {
        font-size: 45px;
        line-height: 45px;
        margin-top: 90px;
        cursor: pointer;
      }
    }
  }
}