@import 'variables.scss';

.body {
    background-color: $tx-tint;
    font-family: 'Messina', Arial, Helvetica, sans-serif;
}

.section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 122px 14px 14px 14px;

    .heading-1 {
        font-family: "Messina", Arial, Helvetica, sans-serif;
        font-size: 49px;
        line-height: 47px;
        color: $tx-brown;
    }

    .offerings {

        .offerings_title {
            font-family: "Messina", Arial, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 18px;
            color: $tx-brown;
            text-transform: uppercase;
        }

        .offerings_body {
            font-family: "Messina", Arial, Helvetica, sans-serif;
            font-size: 17px;
            line-height: 19px;
            color: $tx-brown;
        }
    }
}

.carousel-section {
    padding: 50px 14px 0 14px;

    .carousel-container {
        .carousel_img {
            width: 100%;
            height: 100%;
        }

        .carousel_subtitle {
            display: flex;
            border-bottom: 1px solid $tx-brown;
            padding: 14px 0;

            p {
                font-family: "Messina", Arial, Helvetica, sans-serif;
                font-size: 10px;
                line-height: 13px;
                width: 50%;
            }
        }
    }
}

.newsletter-section {
    .newsletter_title {
        font-family: "Messina", Arial, Helvetica, sans-serif;
        font-size: 10px;
        line-height: 18px;
        color: $tx-brown;
        text-transform: uppercase;
    }
}