.carousel {
  padding: 3.125em .875em 0 .875em;

  .article_title {
    display: none;
  }

  .carousel-container {
    position: relative;

    .carousel_img {
      width: 100%;
      height: 100%;
    }

    .carousel_action-btns {
      display: none;
    }

    .carousel_caption {
      position: relative;
      padding: .875em 0;
      z-index: 4;

      .carousel_text-visible {
        display: flex;
        border-bottom: .0625em solid $tx-brown;
        padding-bottom: .875em;
        gap: .875em;

        p {
          font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
          font-size: .625em;
          line-height: 1.3em;
          color: $tx-brown;
          width: 50%;
          transition: font-size var(--animation-media-queries),
          line-height var(--animation-media-queries);
        }
      }

      .carousel_accordion {
        overflow-y: hidden;
        height: auto;
        transition: height 500ms;

        .carousel_accordion_row {
          display: flex;
          border-bottom: .0625em solid $tx-brown;
          padding: .875em 0;
          gap: .875em;

          p {
            font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
            font-size: .625em;
            line-height: 1.3em;
            color: $tx-brown;
            width: 50%;
            transition: font-size var(--animation-media-queries),
            line-height var(--animation-media-queries);
          }
        }

        .carousel_accordion_description {
          border-bottom: .0625em solid $tx-brown;
          padding: .875em 0;

          p {
            font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
            font-size: .625em;
            line-height: 1.3em;
            color: $tx-brown;
            width: 100%;
            transition: font-size var(--animation-media-queries),
            line-height var(--animation-media-queries),
            width var(--animation-media-queries);
          }
        }

      }
    }

    .carousel_btn-read-more {
      font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
      font-size: .625em;
      line-height: 1.8em;
      border: none;
      background-color: transparent;
      padding: 0;
      color: $tx-brown;
      cursor: pointer;
      opacity: .3;
      transition: font-size var(--animation-media-queries),
      line-height var(--animation-media-queries),
      opacity var(--animation-timing);

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Min-width 768px
@media only screen and (min-width: 48em) {
  .carousel {
    .carousel-container {
      .carousel_caption {
        .carousel_accordion {
          .carousel_accordion_description {
            display: flex;
            justify-content: flex-end;

            p {
              width: 50%;
              padding-left: .4375em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 48em) and (max-width: 79.9375em) {
  .carousel {
    font-size: 1.8em;
  }
}

// Min width 1280px
@media only screen and (min-width: 80em) {
  .carousel {
    padding: 7.5em 2.5em 0 2.5em;

    .carousel_cursor-prev {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 11.25em;
      height: 3.75em;
      pointer-events: none;
      mix-blend-mode: soft-light;
      z-index: 9999;

      &::before {
        content: "Previous";
        font-family: "Messina", sans-serif;
        font-size: 2.8125em;
        color: $tx-tint;
      }
    }

    .carousel_cursor-next {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 5.625em;
      height: 3.75em;
      pointer-events: none;
      mix-blend-mode: soft-light;
      z-index: 9999;

      &::before {
        content: "Next";
        font-family: "Messina", sans-serif;
        font-size: 2.8125em;
        color: $tx-tint;
      }
    }

    .carousel-container {
      .carousel_action-btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        z-index: 3;

        .carousel_btn-prev, .carousel_btn-next {
          position: absolute;
          top: 0;
          width: 50%;
          height: 100%;
          border: none;
          background-color: transparent;
          z-index: 1000;
          cursor: none;
        }

        .carousel_btn-prev {
          left: 0;
        }

        .carousel_btn-next {
          right: 0;
        }
      }

      .carousel_caption {
        padding: 2.625em 0;

        .carousel_text-visible {
          padding-bottom: 1.5em;
          gap: 2.5em;

          .carousel_title, .carousel_availability {
            font-size: 2.8125em;
            line-height: 1em;
          }
        }

        .carousel_accordion {
          .carousel_accordion_row {
            padding: 1.5em 0;
            gap: 2.5em;

            p {
              font-size: 2.8125em;
              line-height: 1em;
            }
          }

          .carousel_accordion_description {
            padding: 1.5em 0;

            p {
              font-size: 2.8125em;
              line-height: 1em;
              padding-left: .4444444444444444em;
            }
          }
        }
        .carousel_btn-read-more {
          font-size: 2.8125em;
          line-height: 1em;
          margin-top: .9333333333333333em;
        }
      }
    }
  }
}