.carousel {
  padding: 50px 14px 0 14px;

  .article_title {
    display: none;
  }

  .carousel-container {
    position: relative;

    .carousel_img {
      width: 100%;
      height: 100%;
    }

    .carousel_action-btns {
      display: none;
    }

    .carousel_caption {
      position: relative;
      padding: 14px 0;
      z-index: 4;

      .carousel_text-visible {
        display: flex;
        border-bottom: 1px solid $tx-brown;
        padding-bottom: 14px;
        gap: 14px;

        p {
          font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 400;
          line-height: 13px;
          color: $tx-brown;
          width: 50%;
          transition: font-size var(--animation-media-queries),
          line-height var(--animation-media-queries);
        }
      }

      .carousel_accordion {
        overflow-y: hidden;
        height: auto;
        transition: height 500ms;

        .carousel_accordion_row {
          display: flex;
          border-bottom: 1px solid $tx-brown;
          padding: 14px 0;
          gap: 14px;

          p {
            font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 13px;
            color: $tx-brown;
            width: 50%;
            transition: font-size var(--animation-media-queries),
            line-height var(--animation-media-queries);
          }
        }

        .carousel_accordion_description {
          border-bottom: 1px solid $tx-brown;
          padding: 14px 0;

          p {
            font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 13px;
            color: $tx-brown;
            width: 100%;
            transition: font-size var(--animation-media-queries),
            line-height var(--animation-media-queries),
            width var(--animation-media-queries);
          }
        }

      }
    }

    .carousel_btn-read-more {
      font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
      font-size: 10px;
      line-height: 18px;
      border: none;
      background-color: transparent;
      padding: 0;
      color: $tx-brown;
      cursor: pointer;
      opacity: .3;
      transition: font-size var(--animation-media-queries),
      line-height var(--animation-media-queries),
      opacity var(--animation-timing);

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .carousel {
    .carousel-container {
      .carousel_caption {
        .carousel_accordion {
          .carousel_accordion_description {
            display: flex;
            justify-content: flex-end;

            p {
              width: 50%;
              padding-left: 7px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .carousel {
    padding: 120px 40px 0 40px;

    .carousel_cursor-prev {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 180px;
      height: 60px;
      pointer-events: none;
      mix-blend-mode: soft-light;
      z-index: 9999;

      &::before {
        content: "Previous";
        font-family: "Messina", sans-serif;
        font-size: 45px;
        color: $tx-tint;
      }
    }

    .carousel_cursor-next {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 90px;
      height: 60px;
      pointer-events: none;
      mix-blend-mode: soft-light;
      z-index: 9999;

      &::before {
        content: "Next";
        font-family: "Messina", sans-serif;
        font-size: 45px;
        color: $tx-tint;
      }
    }

    .carousel-container {
      .carousel_action-btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        z-index: 3;

        .carousel_btn-prev, .carousel_btn-next {
          position: absolute;
          top: 0;
          width: 50%;
          height: 100%;
          border: none;
          background-color: transparent;
          z-index: 1000;
          cursor: none;
        }

        .carousel_btn-prev {
          left: 0;
        }

        .carousel_btn-next {
          right: 0;
        }
      }

      .carousel_caption {
        padding: 42px 0;

        .carousel_text-visible {
          padding-bottom: 24px;
          gap: 40px;

          .carousel_title, .carousel_availability {
            font-size: 45px;
            line-height: 45px;
          }
        }

        .carousel_accordion {
          .carousel_accordion_row {
            padding: 24px 0;
            gap: 40px;

            p {
              font-size: 45px;
              line-height: 45px;
            }
          }

          .carousel_accordion_description {
            padding: 24px 0;

            p {
              font-size: 45px;
              line-height: 45px;
              padding-left: 20px;
            }
          }
        }
        .carousel_btn-read-more {
          font-size: 45px;
          line-height: 45px;
          margin-top: 42px;
        }
      }
    }
  }
}