@font-face {
	font-family: 'MessinaSansWeb';
	src:  url('/fonts/MessinaSansWeb-Regular.woff2') format('woff2'),
				url('/fonts/MessinaSansWeb-Regular.woff') format('woff'),
				url('/fonts/MessinaSansWeb-Regular.ttf') format('ttf'),
				url('/fonts/MessinaSansWeb-Regular.eot') format('eot');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
