@import "variables.scss";

.footer {
  padding: 90px 14px 20px 14px;

  .footer_img {
    width: 81px;
    height: 100%;
    margin-bottom: 24px;
  }

    
  a {
    font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
    font-size: 8px;
    line-height: 18px;
    letter-spacing: -.1px;
    margin-right: 30px;
    color: $tx-brown;
    text-decoration: none;
  }
}

@media only screen and (min-width: 960px) {
  .footer {
    margin-top: 400px;
    padding: 40px;

    .footer_img {
      width: 166px;
      height: 30px;
      margin-bottom: 40px;
    }

    a {
      font-size: 16px;
      line-height: 18px;
      padding: 5px 10px;
      margin-right: 0px;
      margin-left: 30px;
      justify-self: end;
    }

    a:nth-child(2) {
      margin: 0px;
    }
  }
}

@media only screen and (min-width: 1320px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .footer_img {
      grid-column: 1 / span 2;
    }

    a {
      justify-self: start;
      margin: 0;
      margin-right: 30px;
    }

    a:nth-child(2) {
      grid-column: 4 / span 2;
      justify-self: end;
      margin-right: 30px;
    }
    a:nth-child(3) {
      grid-column: 6;
    }
    a:nth-child(4) {
      grid-column: 7;
    }
    a:nth-child(5) {
      grid-column: 8;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .footer {
    a:nth-child(2) {
      grid-column: 5;
      justify-self: start;
    }
  }
}