@import "variables.scss";

.footer {
  padding: 5.625em .875em 1.25em .875em;

  .footer_img {
    width: 5.0625em;
    height: 100%;
    margin-bottom: 1.5em;
    transition: width var(--animation-media-queries),
    height var(--animation-media-queries);
  }

  a {
    font-family: "MessinaSansWeb", Arial, Helvetica, sans-serif;
    font-size: .5em;
    line-height: 1.125em;
    letter-spacing: -.00625em;
    margin-right: 3.75em;
    color: $tx-brown;
    text-decoration: none;
    opacity: 1;
    transition: opacity var(--animation-timing),
    font-size var(--animation-media-queries),
    line-height var(--animation-media-queries),
    letter-spacing var(--animation-media-queries);

    &:hover {
      opacity: .7;
    }
  }
}

// Tablet screens
@media only screen and (min-width: 48em) and (max-width: 79.9375em) {
  .footer {
    font-size: 1.8em;
  }
}

// Min width 1280px
@media only screen and (min-width: 80em) {
  .footer {
    margin-top: 25em;
    padding: 2.5em;

    .footer_img {
      width: 10.375em;
      height: 1.875em;
      margin-bottom: 2.5em;
    }

    a {
      font-size: 1em;
      line-height: 1.125em;
      padding: .3125em .625em;
      margin-right: 0;
      margin-left: 1.875em;
      justify-self: end;
    }

    a:nth-child(2) {
      margin: 0;
    }
  }
}

// Min width 1320px
@media only screen and (min-width: 82.5em) {
  .footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .footer_img {
      grid-column: 1 / span 2;
    }

    a {
      justify-self: start;
      margin: 0;
      margin-right: 1.875em;
    }

    a:nth-child(2) {
      grid-column: 4 / span 2;
      justify-self: end;
      margin-right: 1.875em;
    }
    a:nth-child(3) {
      grid-column: 6;
    }
    a:nth-child(4) {
      grid-column: 7;
    }
    a:nth-child(5) {
      grid-column: 8;
    }
  }
}

// Min width 1800px
@media only screen and (min-width: 112.5em) {
  .footer {
    a:nth-child(2) {
      grid-column: 5;
      justify-self: start;
    }
  }
}