@import 'variables.scss';

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.logo_img {
  position: absolute;
  left: .8750em;
  top: auto;
  bottom: 1.875em;
  width: 14.375em;
  height: 6.4375em;
  z-index: 9999;
}

.topbar {
  position: fixed;
  background-color: $tx-tint;
  height: 3.9375em;
  width: 100%;
  z-index: 5;
}

.hamburger-menu {
  position: absolute;
  top: 1.25em;
  right: .875em;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: 1.875em;
  user-select: none;
  transform-origin: left center;
  cursor: pointer;
  z-index: 10;

  &::before, &::after, input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: $tx-brown;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
  }

  &:has(input:focus-visible)::before,
  &:has(input:focus-visible)::after,
  input:focus-visible {
    border:.0625em solid $tx-brown;
  }

  &:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 .65625em;
  }

  &:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 -.71875em;
  }

  &:has(input:checked) + .sidebar {
    translate: 0;
  }

  input {
    appearance: none;
    outline: none;
    pointer-events: none;
    padding: 0;
    margin: 0;

    &:checked {
      opacity: 0;
      width: 0;
    }
  }
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  display: grid;
  place-items: center left;
  min-height: 100vh;
  width: 100vw;
  background-color: $tx-tint;
  z-index: 200;

  .contact {
    padding: 1em;
    width: 100%;

    .contact_section {
      border-top: .0625em solid $tx-brown;
      padding: .875em 0;
      margin: 0;

      .contact_title {
        font-family: "MessinaSansWeb", sans-serif;
        font-size: .625em;
        line-height: 1.125em;
        color: $tx-brown;
        text-transform: uppercase;
        margin-bottom: .875em;
      }

      .contact_content {
        padding: 0;
        list-style: none;

        .contact_subtitle, .contact_phone, .contact_email, .contact_link {
          font-family: "MessinaSansWeb", sans-serif;
          font-size: 1.0625em;
          line-height: 1.1875em;
          color: $tx-brown;
        }

        .contact_subtitle-sm, .contact_phone-sm, .contact_email-sm {
          font-family: "MessinaSansWeb", sans-serif;
          font-size: .9375em;
          line-height: 1em;
          font-weight: 400;
          color: $tx-brown;
        }

        .contact_phone, .contact_phone-sm, .contact_email, .contact_email-sm, .contact_link {
          display: block;
          text-decoration: none;
        }

        .contact_phone, .contact_email, .contact_phone-sm, .contact_email-sm, .contact_link {
          opacity: 1;
          transition: opacity var(--animation-timing);

          &:hover {
            opacity: .7;
          }
        }
      }

      .contact_content-sm {
        padding: 0;
      }

      .contact_border {
        padding-top: .875em;
        border-bottom: .0625em solid $tx-brown;
      }
    }

    .contact_section-sm {
      border: none;
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: 48em) and (max-width: 79.9375em) {
  .header {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 80em) {
  .logo_img {
    left: 2.5em;
    top: auto;
    bottom: 5em;
    width: 37.5em;
    height: 16.625em;
  }

  .topbar {
    height: 9.75em;
  }

  .hamburger-menu {
    display: none;
  }

  .sidebar {
    translate: none;
    width: auto;
    min-height: auto;
    background-color: transparent;
    padding: 2.5em;
    opacity: 0;

    .contact {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 5.375em;
      gap: 1.25em;
      padding: 0;
      width: 100%;

      .grid-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25em;
      }

      .contact_section {
        border: none;
        padding: 0;
        padding-left: 2.5em;

        .contact_title {
          font-size: 1em;
          width: fit-content;
        }

        .contact_content-sm {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .contact_content {

          .contact_subtitle, .contact_phone, .contact_email, .contact_link {
            font-size: 1em;
            line-height: 1.125em;
          }

          .contact_subtitle-sm, .contact_phone-sm, .contact_email-sm {
            font-size: 1em;
            line-height: 1.125em;
            color: $tx-brown;
          }
        }
        .contact_border {
          border: none;
        }
      }

      .contact_section-sm {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    .contact section:nth-child(1) {
      grid-column: 2 / span 2;
    }
  }
}

@media only screen and (min-width: 100em) {
  .sidebar {
    .contact {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 5.375em;

      .contact_section {
        padding: 0;
      }
    }

    .contact section:nth-child(1) {
      grid-column: 5 / span 2;
    }
  }
}