@import 'variables.scss';

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.logo_img {
  transition: opacity var(--animation-timing);
  position: absolute;
  left: 14px;
  top: auto;
  bottom: 30px;
  width: 230px;
  height: 103px;
  z-index: 20;
}

.topbar {
  position: fixed;
  background-color: $tx-tint;
  height: 63px;
  width: 100%;
  z-index: 5;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 15px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: 30px;
  user-select: none;
  transform-origin: left center;
  cursor: pointer;
  z-index: 10;

  &::before, &::after, input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: $tx-brown;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
  }

  &:has(input:focus-visible)::before,
  &:has(input:focus-visible)::after,
  input:focus-visible {
    border:1px solid $tx-brown;
  }

  &:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 10.5px;
  }

  &:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 -11.5px;
  }

  &:has(input:checked) + .sidebar {
    translate: 0;
  }

  input {
    appearance: none;
    outline: none;
    pointer-events: none;
    padding: 0;
    margin: 0;

    &:checked {
      opacity: 0;
      width: 0;
    }
  }
}

.logo_img_sidebar {
  transition: opacity var(--animation-timing);
  position: absolute;
  opacity: 0;
  left: 14px;
  top: 14px;
  width: 80px;
  height: 36px;
  z-index: 20;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  display: grid;
  place-items: center left;
  min-height: 100vh;
  width: 100vw;
  background-color: $tx-tint;
  z-index: 200;

  .nav {
    padding: 16px;

    .nav_section {
      border-top: 1px solid $tx-brown;
      padding: 14px 0;

      .nav_title {
        font-family: "Messina", sans-serif;
        font-size: 10px;
        line-height: 18px;
        color: $tx-brown;
        text-transform: uppercase;
      }

      .nav_content {
        padding-top: 14px;

        .nav_subtitle, .nav_phone, .nav_email, .nav_link {
          font-family: "Messina", sans-serif;
          font-size: 17px;
          line-height: 19px;
          color: $tx-brown;
        }

        .nav_subtitle-sm, .nav_phone-sm, .nav_email-sm {
          font-family: "Messina", sans-serif;
          font-size: 15px;
          line-height: 16px;
          color: $tx-brown;
        }

        .nav_phone, .nav_phone-sm, .nav_email, .nav_email-sm, .nav_link {
          display: block;
          text-decoration: none;
        }
      }

      .nav_content-sm {
        padding: 0;
      }

      .nav_border {
        padding-top: 14px;
        border-bottom: 1px solid $tx-brown;
      }
    }

    .nav_section-sm {
      border: none;
    }
  }
}

@media only screen and (min-width: 960px) {
  .logo_img {
    left: 40px;
    top: auto;
    bottom: 30px;
    width: 230px;
    height: 103px;
    z-index: 20;
  }

  .topbar {
    height: 156px;
  }

  .hamburger-menu {
    display: none;
  }

  .logo_img_sidebar {
    left: 40px;
    top: 40px;
    width: 168px;
    height: 75px;
    z-index: 20;
  }

  .sidebar {
    translate: none;
    width: auto;
    min-height: auto;
    background-color: transparent;
    padding: 40px;

    .nav {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 86px;
      gap: 20px;
      padding: 0;
      width: 100%;

      .nav_section {
        border: none;
        padding: 0;

        .nav_title {
          font-size: 16px;
        }

        .nav_content-sm {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .nav_content {

          .nav_subtitle, .nav_phone, .nav_email, .nav_link {
            font-size: 16px;
            line-height: 18px;
          }

          .nav_subtitle-sm, .nav_phone-sm, .nav_email-sm {
            font-size: 16px;
            line-height: 18px;
            color: $tx-brown;
          }
        }
        .nav_border {
          border: none;
        }
      }

      .nav_section-sm {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    .nav div:nth-child(1) {
      grid-column: 5;
    }
  }
}