$tx-tint: #F9F5EF;
$tx-brown: #736357;

/* Hamburger Variables */
:root {
  --bar-width: 1.875em;
  --bar-height: .0625em;
  --hamburger-gap: .625em;
  --animation-timing: 200ms ease-in-out;
  --animation-media-queries: 500ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

/* Animations */
// Loading carousel animation
@keyframes fade-opacity {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}