.loading_image {
  background-color: $tx-brown;
  aspect-ratio: 1.65;
  width: 100%;
  opacity: .1;
  animation: fade-opacity 1500ms ease-in-out infinite;
}

.loading_subtitle {
  display: flex;
  gap: .875em;
  margin: .875em 0;

  .loading_subtitle_name, .loading_subtitle_availability {
    background-color: $tx-brown;
    height: .8125em;
    width: 50%;
    opacity: .1;
    animation: fade-opacity 1500ms ease-in-out infinite;
  }
}

.loading_btn {
  background-color: $tx-brown;
  width: 3.125em;
  height: 1.125em;
  opacity: .1;
  animation: fade-opacity 1500ms ease-in-out infinite;
}

@media only screen and (min-width: 1280px) {
  .loading_subtitle {
    gap: 2.5em;
    margin: 2.5em 0;

    .loading_subtitle_name, .loading_subtitle_availability {
      height: 2.8125em;
    }
  }

  .loading_btn {
    margin-top: 2.5em;
    width: 14.0625em;
    height: 2.8125em;
  }
}
